<nav>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/news" class="{% if page.url contains 'news' %}current{% endif %}">News</a></li>
    <li class="dropdown"><a href="/products">Products <i
          class="fa fa-angle-down"></i></a>
      <ul role="menu" class="sub-menu">
        <li><a href="/software">Software</a>
          <ul>
            <li><a href="https://astartup.net">Astartup</a></li>
            <li><a href="https://github.com/kabuki-starship/igeek">IGEEK</a></li>
            <li><a href="https://github.com/kabuki-starship/kabuki.toolkit">Kabuki Toolkit</a></li>
            <li><a href="https://github.com/kabuki-starship/kabuki.press">KabukiPress</a></li>
            <li><a href="https://github.com/kabuki-starship/script2">Script2</a></li>
          </ul>
        </li>
        <li><a href="/hardware">Hardware</a>
          <ul>
            <li><a href="/anyled">AnyLED</a></li>
            <li><a href="/sl">Symmetry Live</a></li>
          </ul>
        </li>
        <li><a href="/greentech">Greentech</a>
          <ul>
            <li><a href="https://oregoncooler.org">Oregon-Cooler</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="dropdown"><a href="/publications">Publications <i class="fa fa-angle-down"></i></a>
      <ul role="menu" class="sub-menu">
        <li><a href="/cookbooks">Cookbooks</a>
          <ul>
            <li><a href="https://github.com/a-startup/astartup.cookbook">Astartup Cookbook</a></li>
            <li><a href="https://github.com/kabuki-starship/kabuki.press.cookbook">KabukiPress Cookbook</a></li>
            <li><a href="https://github.com/oregon-cooler/greentech.cookbook">Greentech Cookbook</a></li>
          </ul>
        </li>
        <li><a href="https://github.com/kabuki-starship/script2/spec">SCRIPT Specification</a></li>
        <li><a href="https://github.com/kabuki-starship/script2/spec/data">ASCII Data Specification</a></li>
        <li><a href="https://github.com/kabuki-starship/script2/style_guide">ASCII C++ Style Guide</a></li>
      </ul>
    </li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/careers">Careers</a></li>
  </ul>
</nav>